<h1>Editing workout</h1>
<%= nested_form_for(@workout) do |f| %>
  <% if @workout.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@workout.errors.count, "error") %> prohibited this workout from being saved:</h2>

      <ul>
      <% @workout.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= f.fields_for :exercises do |exercise_form| %>
    <%= exercise_form.label :name, "Exercise" %><br />
    <%= exercise_form.text_field :name %><br />
    <%= exercise_form.label :reps %><br />
    <%= exercise_form.text_field :reps %><br />
    <%= exercise_form.label :weight %><br />
    <%= exercise_form.text_field :weight %><br /
    <%= exercise_form.link_to_remove "Remove this exercise" %>
  <% end %>
  <%= f.link_to_add "Add an exercise", :exercises %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Show', @workout %> |
<%= link_to 'Back', workouts_path %>
