<%= nested_form_for @template do |f| %>
  <% if @template.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@template.errors.count, "error") %> prohibited this template from being saved:</h2>

      <ul>
      <% @template.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <%= f.fields_for :exercises do |exercise_form| %>
    <%= exercise_form.label :name, "Exercise" %><br />
    <%= exercise_form.text_field :name %><br />
    <%= exercise_form.label :reps %><br />
    <%= exercise_form.text_field :reps %><br />
    <%= exercise_form.label :weight %><br />
    <%= exercise_form.text_field :weight %><br /
    <%= exercise_form.link_to_remove "Remove this exercise" %>
  <% end %>
  <%= f.link_to_add "Add an exercise", :exercises %>



  <div class="field">
    <%= f.label :description, "Comments" %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.hidden_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


