<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @warmup.description %>
</p>

<p>
  <b>Entry:</b>
  <%= @warmup.entry_id %>
</p>


<%= link_to 'Edit', edit_warmup_path(@warmup) %> |
<%= link_to 'Back', warmups_path %>
